{% extends "base.html" %}

{% block title %}<title>Umidade</title>{% endblock %}

{% block content %}

    <h1>Umidade do Solo</h1>

     <div class="txt-container-color">
        AAAAAAAAAAAAAAAAAAAA
        <img class="img-fluid" src="../static/images/Line-Chart-Vector-No-Background.png">
        


    </div>

    <h1>Umidade  do  Ambiente</h1>

     <div class="container-fluid txt-container-color">
        AAAAAAAAAAAAAAAAAAAA
        <img class="img-fluid" src="../static/images/Line-Chart-Vector-No-Background.png">



    </div>










{% endblock %}