<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color:#edf1d6;">
  <div class="vertical-div">
    <a href="/" {% if current_page == 'home' %}class="current-page"{% endif %}><img src="../static/images/home-icon-2.png" alt="home"></a>
    <a href="/" {% if current_page == 'grafico' %}class="current-page"{% endif %}><img src="../static/images/graf-icon-2.png" alt="home"></a>
    <a href="/agua" {% if current_page == 'agua' %}class="current-page"{% endif %}><img src="../static/images/agua-icon-2.png" alt="home"></a>
    <a href="/" {% if current_page == 'temperatura' %}class="current-page"{% endif %}><img src="../static/images/temp-icon.png" alt="home"></a>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <div class="mobile-links">
    <a href="/"><img src="../static/images/home-icon-2.png" alt="home"></a>
    <a href="/grafico"><img src="../static/images/graf-icon-2.png" alt="grafico"></a>
    <a href="/agua"><img src="../static/images/agua-icon-2.png" alt="agua"></a>
    <a href="/temperatura"><img src="../static/images/temp-icon.png" alt="temperatura"></a>
  </div>
</body>
</html>

<!-- NÃO MEXER NESSE ARQUIVO, FALE COM O ERIC SE TIVER QUE FAZER ALGO!! OBG!!! -->