{% extends "base.html" %}

{% block title %}<title>Chart</title>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endblock %}

{% block content %}

<!-- BUTTONs PARA MUDAR O GRAFICO -->
<div class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 d-inline-flex flex-wrap" role="group" aria-label="First group">
            <button type="button" class="btn btn-success" onclick="mudarImagem('../static/images/grafico_Index.jpg')">Média do ambiente</button>
            <button type="button" class="btn btn-success" onclick="mudarImagem('../static/images/temperatura.jpeg')">Temperatura do ambiente</button>
            <button type="button" class="btn btn-success" onclick="mudarImagem('../static/images/umidade_amb.jpeg')">Umidade do ambiente</button>
            <button type="button" class="btn btn-success" onclick="mudarImagem('../static/images/umidade_solo.jpeg')">Umidade do solo</button>
        </div>
    </div>
    <iframe src="/dash/" width="100%" height="900px" frameborder="0"></iframe>
    <!-- <div>
        <img id="imagem" src="../static/images/grafico_Index.jpg" class="img-fluid" alt="media">
    </div> -->

<!-- ///////GRAFICO FUNCIONAL///////// -->

<script src="../static/script.js"></script>
{% endblock %}