{% extends "base.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}


<div class="container-fluid text-start" id="sobre"  >
  <!-- sobre o site-->
  <div class="container-fluid row">
        <div class="col-md-6">

          <p class="h1-index">GreenTECH</p>
          
          <div class="container-fluid" id="la"><img src="../static/images/laranja.png" width="40%" height="10px"></div>

          <br>
          <p class="h5">
            O site Greentech simplifica a análise de dados de estufas indoor. Desenvolvido para facilitar o uso, permite aos usuários fazer upload de arquivos CSV e visualizar gráficos detalhados. Com foco na acessibilidade, ajuda a entender e otimizar o ambiente das estufas para um melhor crescimento das plantas. É a ferramenta ideal para explorar e interpretar dados de forma eficiente.</p>

            <br>
            <a href="#instrução" class="btn btn-info" id="ir_para">Ir para as instruções</a>    <!-- botão que envia para as instruções -->
        </div>

         <!-- ilustração -->
         <figure class="figure">
          <img src="../static/images/floresta.jpg" class="figure-img img-fluid rounded text-end" alt="ilustração" width="100%">
          <figcaption class="figure-caption"></figcaption>
      </figure>

  </div>
  </div>
  
 <!--  instrução -->
 <div class=" d-flex flex-column py-5 px-5 px-sm-3 bg-green" id="block" style="padding: 0;">
 <div class="col txt-container-color mx-auto container-fluid" id="instrução">
  <div class="como">Como usar o site</div>

  <!-- cartoes com instruções do site  -->

  <div class="row container-fluid" id="c-card">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1>1</h1>
          <h5 class="card-title">Visualize gráficos</h5>
          <p class="card-text">Visualize graficos funcionais e atualizados das informações obtidas.</p>
        </div>
        <img src="../static/images/ico_gra.png" class="card-img-top" alt="icone de grafico">
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1>2</h1>
          <h5 class="card-title">Faça uploads</h5>
          <p class="card-text">Clique no botão de uploads para enviar informações dos sensores para o servidor.</p>
        </div>
        <img src="../static/images/envio.png" class="card-img-top" alt="upload">
      </div>
    </div>
  </div>

  <!-- <a href="#sobre" class="btn btn-info">Ir para o inicio</a> -->
</div>
</div>


{% endblock %}