{% extends "base.html" %}
{% block title %}
  <title>Home</title>
{% endblock %}
{% block content %}
  <!-- Conteúdo da Página vai aqui -->
    <div class="row">
      <div class="col col-md">
        <div class="col-md-auto agua-preview">
          <div class="row-custom">
            <div class="col">
              <h1>QUARTA-FEIRA</h1>
              <p>O ambiente se encontra com 38% da umidade.</p>
            </div>
            <div class="col-md-auto">
              <div class="agua-logo">
                <img src="../static/images/agua-logo.png" alt="agua-logo" class="image-logo">
                <p class="text-logo">38</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-auto agua-preview">
          <div class="row-custom">
            <div class="col">
              <h1>QUARTA-FEIRA</h1>
              <p>O ambiente se encontra com 38% da umidade.</p>
            </div>
            <div class="col-md-auto">
              <div class="agua-logo">
                <img src="../static/images/agua-logo.png" alt="agua-logo" class="image-logo">
                <p class="text-logo">38</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col col-md order-md-first">
        <div class="col graf-preview">
          <img src="../static/images/grafico.png" alt="grafico">
        </div>
        <div class="col graf-preview">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, architecto aspernatur totam hic facilis consequatur commodi consectetur enim modi optio, odit dolorem dolore facere fugit sit tempore cum, excepturi illum?
        </div>
      </div>
    </div>
  <!-- <div class="col-md-auto agua-preview">
    <div class="row-custom">
      <div class="col">
        <h1>QUARTA-FEIRA</h1>
        <p>O ambiente se encontra com 38% da umidade.</p>
      </div>
      <div class="col-md-auto">
        <div class="agua-logo">
          <img src="../static/images/agua-logo.png" alt="agua-logo" class="image-logo">
          <p class="text-logo">38</p>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}