{% extends "base.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<div class="container" data-target="collapseMenu">
    <!-- Row do Gráfico (só com uma imagem por agora) junto com informações detalhadas em baixo -->
    <div class="row align-items-start">
            <div class="col-12 d-flex justify-content-center bg-light"> <!-- 'bg-light' ta sendo usado só pra mostrar o tamanho dessa div, depois de ajustar pode remover -->
                <div class="resize_grafico_home">
                    <img src="../static/images/grafico.png" alt="grafico"> <!-- Se encontrar ou algum membro do grupo fizer uma imagem mais adequada do gráfico insira aqui -->
                </div>
            </div>

        <!-- Container com informações relacionadas ao gráfico -->
            <div class="container_grafinfo py-5 bg-light"> <!-- 'bg-light' ta sendo usado só pra mostrar o tamanho dessa div, depois de ajustar pode remover -->
                
                <!-- Substituir todo esse conteúdo (colocar uma tabela ou algo do tipo para simular as informações do gráfico, procure tabelas prontas feitas com bootstrap na internet) -->
                <h2 class="h3 font-weight-bold">Some demo content</h2>
                <div class="row">
                    <div class="col-lg-10 mb-4">
                        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                    </div>
                    <div class="col-lg-8">
                        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- Substituir todo esse conteúdo (colocar uma tabela ou algo do tipo para simular as informações do gráfico, procure tabelas prontas feitas com bootstrap na internet) -->
            
            </div>
    </div>
</div>
<!-- Container com os cards de agua e temperatura -->
<!-- Não precisam ser cards, se tiver ideias melhores sinta-se livre de mudar, mas se mudar muito o layout
recomendo informar o mestre para aprovar o novo design! -->
<div class="container">
    <div class="row">

        <!-- Coluna do primeiro card da umidade -->
        <div class="col-lg-4 mt-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Umidade</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">09</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">PRO-08235 DeskOpe. Website</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <span>Expand module is removed</span>
                            </li>
                            <li class="widget-49-meeting-item">
                                <span>Data migration is in scope</span>
                            </li>
                            <li class="widget-49-meeting-item">
                                <span>Session timeout increase to 30 minutes</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coluna do primeiro card da umidade -->

        <!-- Coluna do segundo card da umidade -->
        <div class="col-lg-4 mt-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Umidade</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">13</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">PRO-08235 Lexa Corp.</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <span>Scheming module is removed</span>
                            </li>
                            <li class="widget-49-meeting-item">
                                <span>App design contract confirmed</span>
                            </li>
                            <li class="widget-49-meeting-item">
                                <span>Client request to send invoice</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coluna do segundo card da umidade -->

        <!-- Coluna do card da temperatura -->
        <div class="col-lg-4 mt-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Temperatura</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">22</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">PRO-027865 Opera module</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <span>Scope is revised and updated</span>
                            </li>
                            <li class="widget-49-meeting-item">
                                <span>Time-line has been changed</span>
                            </li>
                            <li class="widget-49-meeting-item">
                                <span>Received approval to start wire-frame</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coluna do card da temperatura -->

    </div>
</div>
{% endblock %}