{% extends "base.html" %}

{% block title %}<title>Temperatura</title>{% endblock %}

{% block content %}

<h1>Temperatura</h1>

     <div class="container-fluid txt-container-color">
        <img class="img-fluid" src="../static/images/temperatura.jpeg">
    </div>

<!-- A ideia é de criar um conjunto de tabelas que destacam informações importantes.
     Tabelas dentro desta div podem ficar ao lado das outras-->
     <div class="row">
        <!-- Tabela que mostra a média a partir de uma amostra de dados(média de hoje, dos últimos 7 dias etc.).-->
            <table border="1" class="col table table-light">
                <thead>
                    <tr>
                        <th>Período</th>
                        <th>Média(°C)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hoje</td>
                        <td>xx,x°C</td>
                    </tr>
                    <tr>
                        <td>semana</td>
                        <td>xx,x°C</td>
                    </tr>
                    <tr>
                        <td>mês</td>
                        <td>xx,x°C</td>
                    </tr>
                </tbody>
            </table>
            <!-- Tabela para explicitar amostras com valores altos e baixos -->
            <table border="1" class="col table table-light">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Valor(°C)</th>
                        <th>Hora</th>
                        <th>data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Maior temperatura</td>
                        <td>xx,x°C</td>
                        <td>XXXX</td>
                        <td>XXXX</td>
                    </tr>
                    <tr>
                        <td>Menor temperatura</td>
                        <td>xx,x°C</td>
                        <td>XXXX</td>
                        <td>XXXX</td>
                    </tr>
                </tbody>
            </table>
    </div>
{% endblock %}