<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color:#f8f7d9;">
  <div class="vertical-button" onclick="alert('Button clicked!')"><img src="../static/images/clipart2486240.png" height="3%"></div>

  <div class="content">
    <!-- Your page content goes here -->
    <h1>Sample Content</h1>
    <p>This is a sample HTML page with a vertical button on the left side.</p>
  </div>
</body>
</html>