@media screen and (max-width: 991px){
    #table-wrap{
        display: none;
    }
}

#react-entry-point{
    display: flex;
    justify-content: center;
    width:100%;
    padding-left: 20px;
    
}
#id_main{
    display: flex;
    flex-wrap: nowrap;
}
.dash-graph {
    zoom: 0.85;
  }
