@media screen and (max-width: 991px){
    #table-wrap{
        display: none;
    }
}

#react-entry-point{
    display: flex;
    justify-content: center;
    width:100%;
    padding-left: 20px;
    
}
#id_main{
    display: flex;
    flex-wrap: nowrap;
}
.dash-graph {
    zoom: 0.85;
  }

  .no-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
@media screen and (max-width: 350px){
.DateInput_input, .DateInput_input_1, .DateInput_input__focused, .DateInput_input__focused_2{
    font-size: 0.7rem;
}

.DateInput, .DateInput_1{
    width: 80px;
}
}