/* Estilo para o container vertical */
.vertical-div {
  display: flex; /* Usando flexbox para o layout */
  flex-direction: column; /* Coluna para dispor verticalmente os elementos */
  justify-content: center; /* Centraliza os elementos verticalmente */
  align-items: center; /* Centraliza os elementos horizontalmente */
  position: fixed; /* Fixa a posição do container na tela */
  left: 0; /* Alinha o container à esquerda */
  top: 0; /* Alinha o container ao topo */
  padding-left: 11px; /* Adiciona preenchimento à esquerda */
  padding-right: 11px; /* Adiciona preenchimento à direita */
  background-color: #ffffff; /* Cor de fundo branca */
  height: 100vh; /* Altura igual à altura da viewport */
}

/* Estilo para os links dentro do container vertical */
.vertical-div a {
  display: block; /* Transforma os links em elementos de bloco */
  margin-top: 25px; /* Adiciona margem superior */
  margin-bottom: 25px; /* Adiciona margem inferior */
  text-decoration: none; /* Remove sublinhado dos links */
}

/* Estilo para as imagens dentro dos links */
.vertical-div a img {
  width: 40px; /* Largura fixa para as imagens */
  height: 40px; /* Altura fixa para as imagens */
}

/* Efeito de escala ao passar o mouse sobre as imagens */
.vertical-div a:hover img {
  transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
}

/* Estilo para a barra indicadora da página atual */
.current-page::before {
  content: ""; /* Adiciona conteúdo ao elemento antes do conteúdo atual */
  position: absolute; /* Fixa a posição do elemento */
  left: 59px; /* Distância à esquerda do elemento pai */
  margin-top: 24px; /* Margem superior */
  transform: translateY(-50%); /* Move o elemento verticalmente */
  width: 7px; /* Largura da barra indicadora */
  height: 50px; /* Altura da barra indicadora */
  background-color: #47830c; /* Cor de fundo da barra */
  border-radius: 0 5px 5px 0; /* Borda arredondada na extremidade direita */
}

/* Estilo para o conteúdo principal */
.content {
  margin-left: 80px; /* Adiciona margem à esquerda para evitar sobreposição com o container vertical */
}