

.nav-item:hover{
    transform: scale(1.1);
}

.resize_grafico_home img{
    width: 1.1;
}

.txt-container-color{
    background-color: rgb(163, 180, 143);
     border-radius: 10px; /* arredonda as bordas */
   
}

/* centraliza todos os títulos que estão usando h1,h2 */
h1,h2{
    display: flex;
    place-content: center;
    width: 100%;
    
    text-align: center;
}

@media (max-width: 991.98px) {
    .resize_grafico_home img{
        width: 90vw;
    }
    .container_grafinfo{
        display: none;
    }
}



/* muda a fonte do h1 no (index) , tamanho , etc */
.h1-index{
    font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
font-size: 5rem;
  color: rgb(86, 105, 64) ;
}

/* 
container para o espaço dos textos não tomar todo o espaço */
.container-index-text{
    width: 80%;
}


/* media para o texto ocupar todo o espaço quando estiver em um celular */
@media (max-width: 490px) {
    .container-index-text{
    width: 100%;
    }
}

/* media para virar coluna quando estiver em um celular */
@media (max-width: 500px) {
    .row.justify-content-around {
      flex-direction: column;
    }
  }