/* Elementos do index.html */

/* Preview Umidade Info */
.agua-preview{
    border-radius: 20px;
    margin: 9px;
    width: fit-content;
    padding: 10px;
    background-color: #cadbb7;
}
.agua-logo{
    position: relative;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
    width: 150px;
    margin-left: 50px;
    background-color: #fafbf5;
}
.image-logo {
    position: absolute; /* Make image position absolute relative to the circle */
    top: 15px; /* Position at the top */
    left: 10px; /* Position at the left */
    width: 76%; /* Adjust size as needed */
    height: 76%; /* Adjust size as needed */
}
.text-logo {
    position: absolute; /* Make text position absolute relative to the circle */
    top: 52%; /* Position at the bottom */
    left: 57%; /* Position at the right */
    font-size: 2.8em;
    opacity: 0.8;
    font-weight: bold;
}
.text-logo::after {
    content: '%';
    position: absolute;
    top: 12%;
    font-size: 0.6em;
    opacity: 0.8;
    font-weight: bold;
}

/* Preview Gráfico */
.graf-preview{
    border-radius: 20px;
    margin: 9px;
    padding: 1%;
    width: fit-content;
    background-color: #cadbb7;
}

@media screen and (max-width: 992px) {
    .graf-preview{
        border-radius: 20px;
        margin-right: 18px;
        margin-bottom: 0;
        padding: 1%;
        background-color: #cadbb7;
    }
}
@media screen and (max-width: 768px) {
    .agua-preview{
        border-radius: 20px;
        padding: 10px;
        background-color: #cadbb7;
    }
    .agua-logo{
        position: relative;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        height: 120px;
        width: 120px;
        margin-left: 10px;
        background-color: #fafbf5;
    }
    .image-logo {
        position: absolute; /* Make image position absolute relative to the circle */
        top: 15px; /* Position at the top */
        left: 10px; /* Position at the left */
        width: 76%; /* Adjust size as needed */
        height: 76%; /* Adjust size as needed */
    }
    .text-logo {
        position: absolute; /* Make text position absolute relative to the circle */
        top: 59%; /* Position at the bottom */
        left: 57%; /* Position at the right */
        font-size: 2.2em;
        opacity: 0.8;
        font-weight: bold;
    }
    .text-logo::after {
        content: '%';
        position: absolute;
        top: 12%;
        font-size: 0.6em;
        opacity: 0.8;
        font-weight: bold;
    }

    .graf-preview{
        border-radius: 20px;
        margin-right: 18px;
        margin-bottom: 0;
        padding: 1%;
        background-color: #cadbb7;
    }
}
/* Elementos do index.html */

/* Isso resolveu meu problema, não sei porque mas não mexe pfv! */
.row-custom {
    display: grid;
    grid-template-columns: 1fr auto;
}